*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  background: linear-gradient(rgba(5, 86, 88, 0.795) , rgba(12, 88, 12, 0.664));
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-card{
  height: 70vh;
  height: 70dvh;
  width: 80vw;
  width: 80dvw;
  background: radial-gradient(rgb(166, 255, 0) , rgb(200, 255, 0));
  text-align: center;
}